@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="customersTable" class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            BirthDate
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>
</table>
