@model Tuple<Guid, string>

@{
    Layout = null;
    ViewData["Title"] = "Change Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_StandardHeaders"></partial>
    <style type="text/css">
    body > .grid {
        height: 100%;
    }
        
    .image {
        margin-top: -100px;
    }
    
    .column {
        max-width: 450px;
    }
  </style>
    <script>
    $(document).ready(function() {
      $("#change-password-form").form({
      fields: {
        password: {
          identifier  : "password",
          rules: [{
            type   : "empty",
            prompt : "Please enter your password"
          },
          {
            type   : "length[8]",
            prompt : "Your password must be at least 8 characters"
          }]},
          confirm_password: {
            identifier  : "confirm_password",
            rules: [{
                type   : "match[password]",
                prompt : "The passwords doesn't match"
          }]}
      }});
    });
  </script>
</head>
<body class="bg-image">
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui image header">
            <img src="/static/themes/default/assets/images/icon.png" class="image">
            <div class="content">Change your password</div>
        </h2>
        <form id="change-password-form" class="ui large form" method="post" action="@Url.Action("ChangePassword")" novalidate>
            <input type="hidden" name="userId" value="@Model.Item1"/>
            <input type="hidden" name="token" value="@Model.Item2"/>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="confirm_password" placeholder="Repeat your password">
                    </div>
                </div>
                <button class="ui fluid large black submit button" type="submit">Change Password</button>
            </div>
            <div class="ui error message">
            </div>
        </form>
    </div>
</div>
</body>
</html>