@{
    Layout = null;
    ViewData["Title"] = "Reset Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_StandardHeaders"></partial>
    <style type="text/css">
    body > .grid {
        height: 100%;
    }
        
    .image {
        margin-top: -100px;
    }
    
    .column {
        max-width: 450px;
    }
  </style>
    <script>
    $(document).ready(function() {
      $("#reset-password-form").form({
      fields: {
        email: {
          identifier  : "email",
          rules: [{
            type   : "empty",
            prompt : "Please enter your e-mail"
          },
          {
            type   : "email",
            prompt : "Please enter a valid e-mail"
          }]}
      }});
    });
  </script>
</head>
<body class="bg-image">
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui image header">
            <img src="/static/themes/default/assets/images/icon.png" class="image">
            <div class="content">Reset your password</div>
        </h2>
        <form id="reset-password-form" class="ui large form" method="post" action="@Url.Action("ResetPassword")" novalidate>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <button class="ui fluid large black submit button" type="submit">Reset Password</button>
            </div>
            <div class="ui error message">
            </div>
        </form>
    </div>
</div>
</body>
</html>